@import "blog-main";

.author {
    padding-top: 150px;

    img {
        border-radius: 50%;
        filter: grayscale(100%);
    }

    .avatar {
        text-align: center;
    }

    .links {
        text-align: right;

      a {
        border-bottom: 3px solid $turquoise;
      }

      a:hover {
        color: $white;
        background-color: $turquoise;
      }
    }

  .blog {
    margin-bottom: 0;
    color: $turquoise;
    font-weight: $font-bold;
  }

  .avatar > div {
    text-align: left;
  }

  .author-name > h1, h2 {
    text-align: left;
  }
}
