.author-posts-list {
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;

  h4 {
    margin-top: $layoutUnit;
  }

  .summary {
    margin-top: $layoutUnit;
    margin-bottom: $layoutUnit;
    // display: inline-block;
    // width: 49%;
    // vertical-align: top;

    header h3 {
      font-size: $baseFontSize;
    }

    .social {
      transform: scale(.9);
      transform-origin: left;
    }
  }
}
