.align-center {
  text-align: center;
}

.author {
  margin-bottom: $extraLargeLayoutUnit;
  p, a {
    font-size: $smallFontSize;
  }

  img {
    margin-bottom: $layoutUnit;
    border-radius: 50%;
  }

  .authorName {
    display: block;
    font-weight: bold;
    white-space: nowrap;
  }

  .authorSummary {
    margin-bottom: $smallLayoutUnit;
    // Links in author summary should be displayed inline.
    a {
      display: initial;
    }
  }

  .authorSocialMediaLink {
    padding-top: $smallLayoutUnit;
    padding-bottom: $smallLayoutUnit;
  }

  a {
    display: block;
  }
}
