/* Font Settings */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
body {
    font-family: "objektiv-mk1" !important;
}
/* Font Settings --- Weights */
a.link {
    font-weight: $font-medium
}
p {
    font-weight: $font-light;
    span {
        font-weight: $font-medium
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: "objektiv-mk1" !important;
}
h1 {
    font-weight: $font-regular
    /* H1 only used in Hero area on new site. maybe not best to use on blog */
}
h2, h3 {
    font-weight: $font-bold;
}
h4, h5 {
    font-weight: $font-medium;
}
h6 {
    font-weight: $font-regular;
}
/* Font Settings --- Sizes */
/* ===================================================================
Note for Scott Logic:
Sizes set to PX here, but if base size is set to 16px, you can
replace with REM.
=====================================================================*/
p {
    font-size: 16px
}
h1 {
    font-size: 40px;
}
@media (min-width: 64em) {
    h1 {
        font-size: 70px;
    }
}
h2 {
    font-size: 20px;
}
@media (min-width: 64em) {
    h2 {
        font-size: 36px;
    }
}
h3, h4 {
    font-size: 20px;
}
@media (min-width: 64em) {
    h3, h4 {
        font-size: 30px;
    }
}
/* Colours  */
$white: #fff;
$black: #252525;
/* TEAL */
$teal: #2bb3bb;
$light-teal: #dff4f5;
/* ORANGE */
$light-orange: #fdede4;
$orange: #ef8547;
/* PINK */
$light-pink: #f9eaf1;
$pink: #c41565;
/* YELLOW */
$light-yellow: #fef9ef;
$yellow: #f8be4f;
/* Colours --- Mixin
    Add classes with the mixin to assign colours to certain elements. Have added one here to use as aexample
*/
@mixin colour-scheme($light-color, $dark-colour, $third-colour, $fourth-colour ) {
    a.link {
        color: $fourth-colour;
        border-color: $dark-colour;
        &:hover {
            background-color: $dark-colour;
        }
    }
}
/* Add one of these classes to the BODY tag to assign a pallete for the page */
// TEAL COLOUR SCHEME
.teal-colour-scheme {
    @include colour-scheme($light-teal, $teal, $white, $black);
}
// ORANGE COLOUR SCHEME
.orange-colour-scheme {
    @include colour-scheme($light-orange, $orange, $white, $black);
}
// PINK COLOUR SCHEME
.pink-colour-scheme {
    @include colour-scheme($light-pink, $pink, $white, $black);
}
// YELLOW COLOUR SCHEME
.yellow-colour-scheme {
    @include colour-scheme($light-yellow, $yellow, $white, $black);
}
/* Links & Buttons   */
a.link {
    border-bottom: 5px solid;
    padding-bottom: 0;
    background-color: transparent;
    -webkit-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    -o-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    line-height: 2em;
}
