@import "blog-main";

code, pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

code {
  border: none;
  background-color: #f9f2f4;
}

code.highlighter-rouge {
  padding: 2px 4px;
  font-size: $monospaceFontSize;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: $smallLayoutUnit;
}

pre {
  display: block;
  padding: $layoutUnit;
  margin: 0 0 $layoutUnit;
  font-size: $monospaceFontSize;
  line-height: 1.42857143;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: $smallLayoutUnit;
}