.event-list {

	.events-label {
		margin-bottom: $largeLayoutUnit;
	}

	h5 {
		color: #231F20;
		font-weight: normal;
	}

	.event {
		margin-bottom: $largeLayoutUnit;
	}

	a {
		color: #231F20;
		font-size: 18px;
		font-family: $futuraPT;
	}

	h5 a {
		color: #af025c;
		text-decoration: underline;
		font-family: $helvetica;
		font-size: 12px;
	}

	.time-divider {
		text-transform: uppercase;
		color: #999999;
		font-weight: normal;
		margin-top: $largeLayoutUnit;
  		margin-bottom: $layoutUnit;
	}
}