.container {
  max-width: 1140px;
}

body {
  position: relative;
}

.page-content-background {
  background-repeat: repeat-y;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -9999;

  &.right {
    top: -170px;
    background-image: url(assets/bg-50percent-opacity.png);
    background-position: 75% 0%;
  }

  &.left {
    top: 480px;
    background-position: 30% 0%;
    background-image: url(assets/bg-mirror-50percent-opacity.png);
  }
}
