// magic numbers
$goldenRatio:     1.45; // ish ;-)
$halfGoldenRatio: 1.309;

// font sizes
$baseFontSize:    16px;
$smallFontSize:   $baseFontSize / $halfGoldenRatio;
$mediumFontSize:  $baseFontSize * $goldenRatio;
$largeFontSize:   $mediumFontSize * $goldenRatio;
$extraLargeFontSize:   $largeFontSize * $goldenRatio;

// a special scaling rule because the monospace fonts naturally look bigger
$monospaceFontSize:   $baseFontSize * 0.9;

// on small devices we decrease the heading size
$headingSizeReduction: 0.8;

$baseLineHeight:   1.4;
$largeLineHeight:   1.8;

// colors
$grey:            #999;
$lightGray:       #DDD;
$textColor:       #333;

// layout units
$smallLayoutUnit:      5px;
$layoutUnit:           10px;
$largeLayoutUnit:      20px;
$extraLargeLayoutUnit: 40px;
