aside.advert {
  hr {
    border-top: 1px solid @lightGrey;
    height: 0;
  }

  a.button {
    background-color: @teal;
    padding: 11px 20px 10px 20px;
    display: inline-block;
    color: white;
    transition: background-color @easeRate ease-in-out;
    white-space: nowrap;
  }

  a.button:hover {
    background-color: @darkTeal;
  }
}