.author {
  font-size: @smallFontSize;
  
  img {
    margin-bottom: (@baseLineHeight * 0.5)
  }

  .authorName {
    display: block;
    font-weight: bold;
    white-space: nowrap;
  }

  .authorSummary {
    line-height: @tightLineHeight;
    margin-bottom: 5px;

    // Links in author summary should be displayed inline.
    a {
      display: initial;
    }
  }

  a {
    display: block;
  }
}

.summary {
  .author {
    position: relative;

    > img {
      position: absolute;
      left: -100px;
      top: -30px;
    }
  }
}