aside.author {
  text-align: right;

  .authorName {
    display: block;
  }

  a {
    color: @black;
    text-decoration: none;

    &:hover {
      color: @black;
      text-decoration: underline;
    }
  }

  h5.sub {
    font-style: normal;
    margin: (@baseLineHeight * 0.5) 0 @baseLineHeight 0;
  }
}

.summary {
  .author {
    position: relative;

    > img {
      position: absolute;
      left: -100px;
      top: -30px;
    }
  }
}