h1,h2,h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0.8em 0 0.3em 0;
  line-height: @baseLineHeight;

  a {
    color: @black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
h1 {
  font-size: @baseFontSize * 3;
}
h2 {
  font-size: @baseFontSize * 2.25;
}
h3 {
  font-size: @baseFontSize * 1.5;
}
p {
  margin: 0.1em 0 0.8em 0;
}
article {
  margin: 0.4em 0 3em 0;

  &:last-child {
    margin: 0.4em 0 1em 0;
  }

  header {
    p {
      color: @grey;
      font-style: italic;

      a {
        color: @grey;
        text-decoration: none;

        &:hover {
          color: @black;
          text-decoration: underline;
        }
      }
    }
  }
}

.container {
  width: 680px;

  &.large {
    width: 1000px;
  }
}

article>header {
  position: relative;
  >a {
    position: absolute;
    top: 5px;
    left: -100px;
  }
}