#authorCarousel {
  .carousel-inner {
    height: 110px;
  }
  .carousel-indicators {
    li {
      background-color: #000;
      background-color: rgba(0,0,0,.25);
    }
    .active {
      background-color: #000;
    }
  }
  .thumbnail {
    border: none;
    .box-shadow(none);
  }
}

#featuredCarousel {
  .carousel-indicators {
    li {
      background-color: #000;
      background-color: rgba(0,0,0,.25);
    }
    .active {
      background-color: #000;
    }
  }

  .row {
    >div {
      margin-top: -@gridGutterWidth;

      >div {
        margin-top: @gridGutterWidth;
        position: relative;
      }
    }
  }

  .height (@columns) {
    height: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
  }
  .width (@columns) {
    width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
  }

  .span6 {
    img {
      .height(4);
      .width(6);
    }
  }

  .span3 {
    img {
      .height(2);
      .width(3);
    }
    .carousel-caption {
      padding: 7px 10px;
      h4 {
        font-size: (@baseFontSize * 0.8);
        line-height: (@baseLineHeight * 0.8);
        margin: 0;
      }
    }
  }

  cite {
    color: @grey;
    position: absolute;
    font-size: 8px;
    right: 2px;
    bottom: -10px;
  }
}