
@media (max-width: 960px) {
  #header {
    .bar {
      padding: 12px 15px 4px 15px;
    }
  }
}

@media (max-width: 767px) {
  #header {
    .bar {
      text-align: center;
      height: 61px;
      padding: 0;
      position: relative;

      .logo {
        height: 60px;
        background-image: url("/media/logo_primary.svg");
        background-position: center;
        .background-size(contain);
      }

      .menu {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAALUlEQVQ4y+3SMREAAAzCwFD/nqmJDh0SARzDw/cC0LYnY0nm+uFgspGNbGQDsKneDBBNawacAAAAAElFTkSuQmCC')
                    no-repeat
                    right bottom;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -11px 15px 0 0;
      }

      &.expanded {
        min-height: 253px;
      }
    }
  }
}