@import "header-responsive";
@import "carousel-responsive";

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

// Smooth out the collapsing/expanding nav
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0); // activate the GPU
  }

// Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

// Remove the horizontal form styles
  .form-horizontal {
    .control-label {
      float: none;
      width: auto;
      padding-top: 0;
      text-align: left;
    }
  // Move over all input controls and content
    .controls {
      margin-left: 0;
    }
  // Move the options list down to align with labels
    .control-list {
      padding-top: 0; // has to be padding because margin collaspes
    }
  // Move over buttons in .form-actions to align with .controls
    .form-actions {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

// Medias
// Reset float and spacing to stack
  .media .pull-left,
  .media .pull-right  {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
// Remove side margins since we stack instead of indent
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }

// Modals
  .modal {
    top:   10px;
    left:  10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
}


// UTILITIES

.visible-small    { display: none !important; }
.visible-medium   { display: none !important; }
.visible-large    { display: inherit !important; }
.hidden-small     { }
.hidden-medium    { }
.hidden-large     { display: none !important; }

@media (min-width: 800px) and (max-width: 1000px) {
  .visible-medium { display: inherit !important; }
  .visible-large  { display: none !important; }
  .hidden-medium  { display: none !important; }
  .hidden-large   { display: inherit !important; }
}

@media (max-width: 799px) {
  .visible-small  { display: inherit !important; }
  .visible-large  { display: none !important; }
  .hidden-small   { display: none !important; }
  .hidden-large   { display: inherit !important; }
}

// All devices larger than mobiles.
@media (max-width: 480px) {
  h1 {
    font-size: @baseFontSize * 2;
  }
  h2 {
    font-size: @baseFontSize * 1.5;
  }
  h3 {
    font-size: @baseFontSize * 1.17;
    line-height: @baseLineHeight * 1.1666;
  }
}

// All devices larger than mobiles.
@media (min-width: 480px) {
  h1 {
    font-size: @baseFontSize * 3.125;
  }
  h2 {
    font-size: @baseFontSize * 2;
  }
  h3 {
    font-size: @baseFontSize * 1.5;
  }
}

// Container that stays full desktop size.
.container.sl-base-container {
  width: @bar-width;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

// Larger gutter on small screens
@media (max-width: @screen-sm-min) {
  .container {
    padding-left: @small-screen-gutter;
    padding-right: @small-screen-gutter;
  }
}