@grey:                  #999;
@lightGrey:             #e8e8e8;

@sansFontFamily:        Steagal, Helvetica, Arial, sans-serif;
@baseFontSize:          16px;
@baseLineHeight:        24px;
@textColor:             @black;

@headingsFontFamily:    @sansFontFamily;
@headingsFontWeight:    normal;

@baseBorderRadius:      0;
@borderRadiusLarge:     0;

// Change the 940px grid to 1000px
// -------------------------
@gridColumnWidth:       65px;
