---
layout: default
title: Blog
---

<section id="home">
  <h1 class="container">Blog</h1>
  <div class="hero">
    <!--some funky shenanigans-->
  </div>
</section>

<section id="articles" class="container">
  <h2>Articles</h2>
  {% for post in site.posts %}
    {% include post_summary.html %}
  {% endfor %}
</section>

<section id="authors">
  <h2 class="container">Authors</h2>
  <ul>
    {% for author in site.authors %}
    <li>
      <a href="{{ site.baseurl }}/authors/{{ author[0] }}.html">
        <figure>
          <img src="http://www.gravatar.com/avatar/{{ author[1].gravatar }}" alt="{{ author[1].name }}" />
          <figcaption>{{ author[1].name }}</figcaption>
        </figure>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>