---

---
<script src="{{ site.baseurl }}/scripts/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(function() {
        var redirectMarkup = function(oldlink, newlink) {
            return '\t<add key="' + oldlink + '" value="/blog' + newlink + '" />\r\n';
        };

        var redirects = "<rewriteMap name=\"BlogRedirects\">\r\n";
	var oldlink = "";
        var authors = [
	    { oldlink: '/blog/andrew-aylett', url: '/aaylett/' },
            { oldlink: '/blog/rolf-baxter', url: '/rbaxter/' },
            { oldlink: '/blog/jonathan-cardy', url: '/jcardy/' },
            { oldlink: '/blog/colin', url: '/ceberhardt/' },
            { oldlink: '/blog/chris-grant', url: '/cgrant/' },
            { oldlink: '/blog/steven-hall', url: '/shall/' },
            { oldlink: '/blog/nicholas-hemley', url: '/nhemley/' },
            { oldlink: '/blog/graham', url: '/godds/' },
            { oldlink: '/blog/luke-page', url: '/lpage/' },
            { oldlink: '/blog/mike-perrin', url: '/mperrin/' },
            { oldlink: '/blog/chris', url: '/cprice/' },
            { oldlink: '/blog/mark-rhodes', url: '/mrhodes/' },
            { oldlink: '/blog/sam-hogarth', url: '/shogarth/' },
            { oldlink: '/blog/nicholas-wolverson', url: '/nwolverson/' }
        ];

        for(var i in authors) {
            redirects += redirectMarkup(authors[i].oldlink, authors[i].url);
            redirects += redirectMarkup(authors[i].oldlink + '/', authors[i].url);
            redirects += redirectMarkup(authors[i].oldlink + '/feed/', authors[i].url + 'feed.xml');           
	    redirects += redirectMarkup(authors[i].oldlink + '/feed', authors[i].url + 'feed.xml');
            redirects += redirectMarkup(authors[i].oldlink + '/feed/atom/', authors[i].url + 'atom.xml');           
	    redirects += redirectMarkup(authors[i].oldlink + '/feed/atom', authors[i].url + 'atom.xml');	    
	    redirects += redirectMarkup(authors[i].oldlink + '/atom/', authors[i].url + 'atom.xml');
	    redirects += redirectMarkup(authors[i].oldlink + '/atom', authors[i].url + 'atom.xml');
	    redirects += redirectMarkup(authors[i].oldlink + '/rss/', authors[i].url + 'feed.xml');
	    redirects += redirectMarkup(authors[i].oldlink + '/rss', authors[i].url + 'feed.xml');
	    }

        {% for post in site.posts %}
        {% if post.oldlink %}
	    oldlink = "{{ post.oldlink }}";
            redirects += redirectMarkup(oldlink, "{{ post.url }}");
	    redirects += redirectMarkup(oldlink.substring(0, oldlink.length-1), "{{ post.url }}");
        {% endif %}
        {% endfor %}

        redirects += "</rewriteMap>";

        $('body').append('<textarea style="width:100%; height: 100%">' + redirects + '</textarea>');
    });
</script>