---

---
<script src="{{ site.baseurl }}/scripts/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(function() {
        var redirectMarkup = function(oldlink, newlink) {
            return '\t<redirect oldPath="' + oldlink + '" newPath="' + newlink + '" />\r\n';
        };

        var redirects = "<redirects>\r\n";

        var authors = [
            { oldlink: '/blog/andrew-aylett/', url: '/blog/aaylett/' },
            { oldlink: '/blog/rolf-baxter/', url: '/blog/rbaxter/' },
            { oldlink: '/blog/jonathan-cardy/', url: '/blog/jcardy/' },
            { oldlink: '/blog/colin/', url: '/blog/ceberhardt/' },
            { oldlink: '/blog/chris-grant/', url: '/blog/cgrant/' },
            { oldlink: '/blog/steven-hall/', url: '/blog/shall/' },
            { oldlink: '/blog/nicholas-hemley/', url: '/blog/nhemley/' },
            { oldlink: '/blog/graham/', url: '/blog/godds/' },
            { oldlink: '/blog/luke-page/', url: ' /blog/lpage/' },
            { oldlink: '/blog/mike-perrin/', url: '/blog/mperrin/' },
            { oldlink: '/blog/chris/', url: '/blog/cprice/' },
            { oldlink: '/blog/mark-rhodes/', url: '/blog/mrhodes/' },
            { oldlink: '/blog/sam-hogarth/', url: '/blog/shogarth/' },
            { oldlink: '/blog/nicholas-wolverson/', url: '/blog/nwolverson/' }
        ];

        for(var i in authors) {
            redirects += redirectMarkup(authors[i].oldlink, authors[i].url);
            //redirects += redirectMarkup(authors[i].oldlink + 'feed/', authors[i].url + 'rss/');
        }

        {% for post in site.posts %}
        {% if post.oldlink %}
            redirects += redirectMarkup("{{ post.oldlink }}", "{{ post.url }}");
        {% endif %}
        {% endfor %}

        redirects += "</redirects>";
gi
        $('body').append('<textarea style="width:100%; height: 100%">' + redirects + '</textarea>');
    });
</script>