{% assign author = include.author %}
{% assign maxPosts = include.maxPosts %}
{% comment %} Gives ability to skip post, i.e current post if listing other articles on a blog page. {% endcomment %}
{% assign skipPostWithId = include.skipPostWithId %}
{% assign minimumToShow = 1 %}
{% if skipPostTitled != null %}
    {% comment %} If we're hiding a post then we'll need to add one more to our max posts! {% endcomment%}
    {% assign maxPosts = maxPosts | plus: 1 %}
    {% assign minimumToShow = minimumToShow | plus: 1 %}
{% endif%}
{% assign postsToList = site.categories[page.author] %}
{% assign postCount = postsToList | size %}
{% assign renderedPosts = 0 %}
{% if postCount  > minimumToShow %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 author-posts-list">
        <div class="row">
          <div class="col-xs-12">
            <h4>MORE BY {{ author.name | split:' ' | first | upcase }}</h4>
          </div>
        </div>
        <div class="row">
          {% for post in postsToList %}
            {% if renderedPosts < maxPosts and skipPostWithId != post.id %}
              {% assign renderedPosts = renderedPosts | plus: 1 %}
              <div class="col-xs-12 col-md-6">
                {% include post_summary.html showPostSummary=false%}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
