<div id="authorCarousel" class="carousel slide">
  {% assign count = site.active-authors | size | divided_by: 6 %}
  <ol class="carousel-indicators">
    {% for i in (0..count) %}
    <li data-target="#authorCarousel" data-slide-to="{{ i }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for i in (0..count) %}
    <div class="item {% if forloop.first %} active{% endif %}">
      <ul class="thumbnails">
        {% assign offset = i | times: 6 %}
        {% for id in site.active-authors limit: 6 offset: offset %}
        {% assign author = site.authors[id] %}
        <li class="span2 text-center">
          <a href="{{ site.baseurl }}/{{ author.name }}" class="thumbnail">
            {% if author.gravatar %}
            <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}" alt="{{ author.name }}" class="img-circle" />
            {% else %}
            <img src="{{ site.baseurl }}/images/avatar.png" alt="{{ author.name }}" class="img-circle" />
            {% endif %}
            {{ author.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#authorCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#authorCarousel" data-slide="next">&rsaquo;</a>
</div>