<div class="main">
  {% for post in site.posts %}
  {% include logic_getAuthor.html %}
  {% if post.author == page.author %}
  <div class="item">
    <h3>
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </h3>

    <p class="small">{{ author.display_name }}, {{ post.date | date: "%B %d, %Y" }}</p>

    <p>{{ post.content | strip_html | truncatewords: 50 }}</p>

    <p class="small">
      <a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a>
    </p>

    <p class="read_more">
      <a href="{{ site.url }}{{ page.url }}">Read More</a>
    </p>
    <hr/>    
  </div>
  {% endif %}
  {% endfor %}
</div>