<div id="authorCarousel" class="authorCarousel carousel slide hidden-small">
  {% comment %} Rounding hack of -1, patches welcome! {% endcomment %}
  {% assign count = site.data.authors.active-authors | size | minus: 1 | divided_by: 6 %}
  <div class="carousel-inner">
    {% for i in (0..count) %}
    <div class="item {% if forloop.first %} active{% endif %}">
      <ul class="thumbnails">
        {% assign offset = i | times: 6 %}
        {% for id in site.data.authors.active-authors limit: 6 offset: offset %}
        {% assign author = site.data.authors.authors[id] %}
        <li class="span2 text-center">
          <a href="{{ site.github.url }}/{{ id }}" class="thumbnail">
            {% if author.gravatar %}
            <img src="//www.gravatar.com/avatar/{{ author.gravatar }}" alt="{{ author.name }}" class="img-circle" />
            {% else %}
            <img src="{{ site.github.url }}/images/avatar.png" alt="{{ author.name }}" class="img-circle" />
            {% endif %}
            {{ author.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#authorCarousel" data-slide="prev"><div class="arrow left"></div></a>
  <a class="right carousel-control" href="#authorCarousel" data-slide="next"><div class="arrow right"></div></a>
</div>
<div class="authorCarousel visible-small">
  <ul class="row">
    {% for authorID in site.data.authors.active-authors %}
    {% assign author = site.data.authors.authors[authorID] %}
    <li>
      <a href="{{ site.github.url }}/{{ authorID }}" class="thumbnail">
        {% if author.gravatar %}
        <img src="//www.gravatar.com/avatar/{{ author.gravatar }}" alt="{{ author.name }}" class="img-circle" />
        {% else %}
        <img src="{{ site.github.url }}/images/avatar.png" alt="{{ author.name }}" class="img-circle" />
        {% endif %}
        {{ author.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
