{% assign visiblePosts = include.visiblePosts | default: 4 %}

{% if include.featuredPosts %}
  {% assign featuredPosts = include.featuredPosts %}
{% elsif include.postsToFilter %}
  {% assign featuredPosts = site.emptyArray %}
  {% for post in include.postsToFilter %}
    {% if post.tags contains 'featured' %}
      {% assign featuredPosts = featuredPosts | push: post %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign featuredPosts = site.tags.featured %}
{% endif %}

{% assign numPosts = featuredPosts | size %}
{% if numPosts > visiblePosts -1 %}
<section class="container featured-container">
  <div class="row featured featured-width-{{ visiblePosts }}">
    {% for post in featuredPosts limit: visiblePosts  %}
    <div class="col-xs-{{ 12 | divided_by: visiblePosts }} no-padding">
      <a href='{{ site.github.url }}{{ post.url }}'>
        <div class="cell cell{{ visiblePosts }}">
          <div class="overlay">
            <h4 class="shrinking-text-{{ visiblePosts }}">
              {% if post.title-short %}
                {{ post.title-short }}
              {% else %}
                {{ post.title }}
              {% endif %}
            </h4>
          </div>
          <img src="{{ site.github.url }}/{{post.image}}"/>
        </div>
      </a>
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}
