<div id="featuredCarousel" class="featuredCarousel carousel slide hidden-small">
  {% comment %} Render the carousel panels but only FULL panels (there's probably a nicer way...) {% endcomment %}
  {% comment %} Rounding hack of -1, patches welcome! {% endcomment %}
  {% assign modulo = site.tags.featured | size | minus: 1 | modulo: 5 %}
  {% assign count = site.tags.featured | size | minus: modulo | divided_by: 5 %}
  <div class="carousel-inner">
    {% for i in (0..count) %}
    <div class="item {% if forloop.first %} active{% endif %}">
      <div class="row">
        <div class="span3">
          {% assign offset = i | times: 5 %}
          {% for post in site.tags.featured limit:2 offset: offset %}
          <div>
            <a class="carousel-caption-container" href="{{ site.github.url }}{{ post.url }}">
              <img src="{{ site.github.url }}/{{ post.image }}">
              {% capture url %}{{ site.github.url }}{{ post.url }}{% endcapture %}
              {% if post.oldlink %}
                {% capture url %}{{ post.oldlink }}{% endcapture %}
              {% endif %}
              {% if post.originalArticleLink %}
                {% assign url = post.originalArticleLink %}
              {% endif %}
              {% assign disqusID = post.url %}
              {% if post.disqus-id %}
                {% assign disqusID = post.disqus-id %}
              {% endif %}
              {% assign title = post.title %}
              {% assign inverted = post.featured-overlay-inverted %}
              {% assign black = post.featured-overlay-black %}
              <div class="carousel-caption">
                <h4>
                    {% if post.title-short %}
                    {{ post.title-short }}
                    {% else %}
                    {{ post.title | truncatewords: 6 }}
                    {% endif %}
                </h4>
              </div>
            </a>
            {% include social.html %}
            <cite>{{ post.image-attribution }}</cite>
          </div>
          {% endfor %}
        </div>
        <div class="span6">
          {% assign offset = offset | plus: 2 %}
          {% for post in site.tags.featured limit:1 offset:offset %}
          <div>
            <a class="carousel-caption-container" href="{{ site.github.url }}{{ post.url }}">
              <img src="{{ site.github.url }}/{{ post.image }}">
              {% capture url %}{{ site.github.url }}{{ post.url }}{% endcapture %}
              {% if post.oldlink %}
                {% capture url %}{{ post.oldlink }}{% endcapture %}
              {% endif %}
              {% if post.originalArticleLink %}
                {% assign url = post.originalArticleLink %}
              {% endif %}
              {% assign disqusID = post.url %}
              {% if post.disqus-id %}
                {% assign disqusID = post.disqus-id %}
              {% endif %}
              {% assign title = post.title %}
              {% assign inverted = post.featured-overlay-inverted %}
              {% assign black = post.featured-overlay-black %}
              <div class="carousel-caption">
                <h4>
                    {% if post.title-short %}
                    {{ post.title-short }}
                    {% else %}
                    {{ post.title | truncatewords: 10 }}
                    {% endif %}
                </h4>
                <p>
                    {% if post.summary-short %}
                    {{ post.summary-short }}
                    {% else %}
                    {{ post.summary | truncatewords: 50 }}
                    {% endif %}
                </p>
              </div>
            </a>
            {% include social.html %}
            <cite>{{ post.image-attribution }}</cite>
          </div>
          {% endfor %}
        </div>
        <div class="span3">
          {% assign offset = offset | plus: 1 %}
          {% for post in site.tags.featured limit:2 offset:offset %}
          <div>
            <a class="carousel-caption-container" href="{{ site.github.url }}{{ post.url }}">
              <img src="{{ site.github.url }}/{{ post.image }}">
              {% capture url %}{{ site.github.url }}{{ post.url }}{% endcapture %}
              {% if post.oldlink %}
                {% capture url %}{{ post.oldlink }}{% endcapture %}
              {% endif %}
              {% if post.originalArticleLink %}
                {% assign url = post.originalArticleLink %}
              {% endif %}
              {% assign disqusID = post.url %}
              {% if post.disqus-id %}
                {% assign disqusID = post.disqus-id %}
              {% endif %}
              {% assign title = post.title %}
              {% assign inverted = post.featured-overlay-inverted %}
              {% assign black = post.featured-overlay-black %}
              <div class="carousel-caption">
                <h4>
                    {% if post.title-short %}
                    {{ post.title-short }}
                    {% else %}
                    {{ post.title | truncatewords: 6 }}
                    {% endif %}
                </h4>
              </div>
            </a>
            {% include social.html %}
            <cite>{{ post.image-attribution }}</cite>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#featuredCarousel" data-slide="prev"><div class="arrow left"></div></a>
  <a class="right carousel-control" href="#featuredCarousel" data-slide="next"><div class="arrow right"></div></a>
</div>

<div class="row featuredCarousel visible-small">
  <section class="offset2 span8">
    <div class="small-carousel carousel">
      {% assign showPostSummary = true %}
      {% for post in site.tags.featured %}
      <div class="carousel-content">

          <a class="carousel-caption-container" href="{{ site.github.url }}{{ post.url }}">
            <img src="{{ site.github.url }}/{{ post.image }}">
            {% capture url %}{{ site.github.url }}{{ post.url }}{% endcapture %}
            {% if post.oldlink %}
              {% capture url %}{{ post.oldlink }}{% endcapture %}
            {% endif %}
            {% if post.originalArticleLink %}
              {% assign url = post.originalArticleLink %}
            {% endif %}
            {% assign disqusID = post.url %}
            {% if post.disqus-id %}
              {% assign disqusID = post.disqus-id %}
            {% endif %}
            {% assign title = post.title %}
            {% assign inverted = post.featured-overlay-inverted %}
            {% assign black = post.featured-overlay-black %}
            <div class="carousel-caption">
              <h4>
                  {% if post.title-short %}
                  {{ post.title-short }}
                  {% else %}
                  {{ post.title | truncatewords: 6 }}
                  {% endif %}
              </h4>
            </div>
          </a>
          {% include social.html %}
          <cite>{{ post.image-attribution }}</cite>

      </div>
      {% endfor %}
    </div>
  </section>
</div>
