{% assign featuredPosts = site.tags.featured %}

<section id="home">
    <div class="container hidden-xxs">
        <div class="row title-row hidden-xs">
            <h1 class=" col-xs-12">Knowledge: Tech Blog</h1>
        </div>
        {% assign mainPost = site.tags.main_featured | first %}
        {% include main_article.html post=mainPost %}
    </div>
    <div class="container hidden-xs">
        <div class="row">
            <div class="col-xs-12">
                {% include featured_carousel.html maxPosts=10 featuredPosts=featuredPosts %}
            </div>
        </div>
    </div>
    <div class="container full-screen visible-xxs visible-xs">
        <div class="row">
            <div class="col-xs-12">
                {% include featured_carousel_mobile.html maxPosts=10 featuredPosts=featuredPosts %}
            </div>
        </div>
    </div>
</section>