<div id="featuredCarousel" class="carousel slide">
  {% comment %} Render the carousel panels but only FULL panels (there's probably a nicer way...) {% endcomment %}
  {% assign modulo = site.tags.featured | size | modulo: 5 %}
  {% assign count = site.tags.featured | size | minus: modulo | divided_by: 5 | minus: 1%}
  <ol class="carousel-indicators">
    {% for i in (0..count) %}
    <li data-target="#featuredCarousel" data-slide-to="{{ i }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for i in (0..count) %}
    <div class="item {% if forloop.first %} active{% endif %}">
      <div class="row">
        <div class="span3">
          {% assign offset = i | times: 5 %}
          {% for post in site.tags.featured limit:2 offset: offset %}
          <img class="featured-small" src="{{ post.image }}">
          {% endfor %}
        </div>
        <div class="span6">
          {% assign offset = offset | plus: 2 %}
          {% for post in site.tags.featured limit:1 offset:offset %}
          <img class="featured" src="{{ post.image }}">
          {% endfor %}
        </div>
        <div class="span3">
          {% assign offset = offset | plus: 1 %}
          {% for post in site.tags.featured limit:2 offset:offset %}
          <img class="featured-small" src="{{ post.image }}">
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#featuredCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#featuredCarousel" data-slide="next">&rsaquo;</a>
</div>