        <div class="{{ include.containerClasses }}">
          {% for post in featuredPosts limit:include.numItems offset: offset %}
          <div>
            <a class="carousel-caption-container" href="{{ site.github.url }}{{ post.url }}">
              <img src="{{ site.github.url }}/{{ post.image }}">
              {% capture url %}{{ site.github.url }}{{ post.url }}{% endcapture %}
              {% if post.oldlink %}
                {% capture url %}{{ post.oldlink }}{% endcapture %}
              {% endif %}
              {% if post.originalArticleLink %}
                {% assign url = post.originalArticleLink %}
              {% endif %}
              {% assign disqusID = post.url %}
              {% if post.disqus-id %}
                {% assign disqusID = post.disqus-id %}
              {% endif %}
              {% assign title = post.title %}
              {% assign inverted = post.featured-overlay-inverted %}
              {% assign black = post.featured-overlay-black %}
              <div class="carousel-caption">
                <h4>
                    {% if post.title-short %}
                    {{ post.title-short }}
                    {% else %}
                    {{ post.title | truncatewords: include.maximumTitleWords }}
                    {% endif %}
                </h4>
                {% if include.showCaption == true %}
                  <p>
                      {% if post.summary-short %}
                      {{ post.summary-short }}
                      {% else %}
                      {{ post.summary | truncatewords: 50 }}
                      {% endif %}
                  </p>
                {% endif %}
              </div>
            </a>
            {% include social.html %}
            <cite>{{ post.image-attribution }}</cite>
          </div>
          {% endfor %}
        </div>