<footer id="footer" class="container wide">
    <div class="footer-bottom">
        <p>Copyright &copy; {{ site.time | date: '%Y' }} Scott Logic Ltd. All Rights Reserved.</p>
    </div>
    <div class="footer-social">
        <div class="social-icons">
            <a class="facebook-icon" href="https://www.facebook.com/ScottLogicCareers"></a>
            <a class="twitter-icon" href="https://twitter.com/Scott_Logic"></a>
            <a class="linkedin-icon" href="https://www.linkedin.com/company/scott-logic-limited"></a>
        </div>
    </div>
</footer>
