<header id="header">
  <div class="container sl-base-container">
    <div class="row">
      <div class="xs-col-12 bar">
        <a href="{{ site.scottlogic.url }}/" class="logo">Scott Logic</a>
        <form id="cse-search-box" action="{{ site.scottlogic.url }}/search/" class="pull-right hidden-xs">
          <input type="text" name="q" placeholder="SEARCH" class="searchbox form-control">
          <img src="{{ site.github.url }}/assets/search-icon.svg" alt="Search" class="searchbtn">
        </form>
      </div>
    </div>
  </div>
  <div class="container sl-nav-container hidden-xs">
    <nav class="row">
      <div class="col-xs-12">
        <ul>
          <li class="dropdown">
            <a href="{{ site.scottlogic.url }}/services/">Services</a>
            <ul class="dropdown-menu" role="menu">
              <div class="nav-arrow-up"></div>
              <li><a href="{{ site.scottlogic.url }}/services/">Services Home</a></li>
              <li><a href="{{ site.scottlogic.url }}/services/technical-strategy-consulting/">Technical Strategy &amp; Consulting</a></li>
              <li><a href="{{ site.scottlogic.url }}/services/bespoke-software-development/">Bespoke Software Development</a></li>
              <li><a href="{{ site.scottlogic.url }}/services/user-experience/">User Experience Design</a></li>
              <li><a href="{{ site.scottlogic.url }}/services/project-delivery/">Project Delivery</a></li>
              <li><a href="{{ site.scottlogic.url }}/services/assured-agile/">Assured Agile</a></li>
              <li><a href="{{ site.scottlogic.url }}/case-studies/">Case Studies</a></li>
              <li><a href="{{ site.scottlogic.url }}/about/technology/">Technology</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <span class="divider">/</span>
            <a href="#" class="nonlink">Sectors</a>
            <ul class="dropdown-menu" role="menu">
              <div class="nav-arrow-up"></div>
              <li><a href="{{ site.scottlogic.url }}/sectors/capital-markets/">Capital Markets</a></li>
              <li><a href="{{ site.scottlogic.url }}/sectors/energy-trading/">Energy Trading</a></li>
              <li><a href="{{ site.scottlogic.url }}/sectors/e-trade/">E Trading</a></li>
              <li><a href="{{ site.scottlogic.url }}/sectors/financial-services/">Financial Services</a></li>
              <li><a href="{{ site.scottlogic.url }}/sectors/healthcare/">Healthcare</a></li>
              <li><a href="{{ site.scottlogic.url }}/sectors/oil-and-gas/">Oil and Gas</a></li>
              <li><a href="{{ site.scottlogic.url }}/sectors/public-sector/">Public Sector</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <span class="divider">/</span>
            <a href="http://unleashed.scottlogic.com/" class="selected">Knowledge</a>
            <ul class="dropdown-menu" role="menu">
              <div class="nav-arrow-up"></div>
              <li><a href="http://unleashed.scottlogic.com/">Knowledge Home</a></li>
              <li><a href="http://blog.scottlogic.com/">Blog</a></li>
              <li><a href="http://events.scottlogic.com/">Events</a></li>
              <li><a href="http://smarter.scottlogic.com/insights">Insights Blog</a></li>
              <li><a href="http://unleashed.scottlogic.com/white-papers/">White Papers</a>
            </ul>
          </li>
          <li class="dropdown">
            <span class="divider">/</span>
            <a href="{{ site.scottlogic.url }}/careers/">Careers</a>
            <ul class="dropdown-menu" role="menu">
              <div class="nav-arrow-up"></div>
              <li><a href="{{ site.scottlogic.url }}/careers/">Careers Home</a></li>
              <li><a href="{{ site.scottlogic.url }}/careers/life-at-scott-logic/">Life at Scott Logic</a></li>
              <li><a href="{{ site.scottlogic.url }}/careers/graduateprogramme/">Graduate Programme</a></li>
              <li><a href="{{ site.scottlogic.url }}/careers/internship/">Internship</a></li>
              <li><a href="{{ site.scottlogic.url }}/careers/careersprogrammes/interns/">Our People</a></li>
              <li><a href="http://smarter.scottlogic.com/careers">Careers Blog</a></li>
              <li><a href="{{ site.scottlogic.url }}/careers/vacancies/">Vacancies</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <span class="divider">/</span>
            <a href="#">About</a>
            <ul class="dropdown-menu" role="menu">
              <div class="nav-arrow-up"></div>
              <li><a href="{{ site.scottlogic.url }}/about/company-information/">Company Information</a></li>
              <li><a href="{{ site.scottlogic.url }}/news/">News</a></li>
              <li><a href="{{ site.scottlogic.url }}/about/events/">Events</a></li>
              <li><a href="{{ site.scottlogic.url }}/about/locations/">Locations</a></li>
              <li><a href="{{ site.scottlogic.url }}/about/management-team/">Management Team</a></li>
              <li><a href="http://smarter.scottlogic.com/insights">Insights</a></li>
              <li><a href="{{ site.scottlogic.url }}/contact/">Contact</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
