{%- assign post = include.post -%}
{%- assign author = site.data.authors.authors[post.author] -%}
<div class="post-summary grid-margin-y grid-padding-y {% include post_colour.html post=post %}">
    <div class="post-summary cell grid-margin-y">
        {% include category_display.html post = post %}
        <div class="title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="cell">
            {%- if post.summary -%}
            {{ post.summary }}
            {%- else -%}
            {{ post.content | strip_html | truncatewords:50 }}
            {%- endif -%}
        </div>
        <div class="avatar-metadata cell">
            {% include gravatar.html %}
            {% include post_metadata.html post=post %}
        </div>
    </div>
</div>
