{% assign showPostSummary = include.showPostSummary %}
{% assign suppressSocialLinks = include.suppressSocialLinks %}
{% assign showAuthorInfo = include.showAuthorInfo %}
{% assign postDetailLimit = include.postDetailLimit %}
{% assign showTechs = include.showTechs %}
{% assign suppressPostDate = include.suppressPostDate %}
{% assign post = include.post %}
{% assign author = site.data.authors.authors[post.author] %}

<article class="summary row">
  {% if showAuthorInfo %}
  <div class="hidden-xs col-sm-2 imageContainer">

    {% if author.gravatar %}
    <img src="//www.gravatar.com/avatar/{{ author.gravatar }}" alt="{{ author.name }}" class="img-circle hidden-small" />
    {% else %}
    <img src="{{ site.github.url }}/images/avatar.png" alt="{{ author.name }}" class="img-circle hidden-small" />
    {% endif %}

  </div>
  {% endif %}
  <div class="col-xs-12 {% if showAuthorInfo %}col-sm-10{% else %}col-sm-12{% endif %}">
    <header>
      {% if showTechs %}
        <div style="float: right;margin-top: 5px;">
        {% for tech in post.techs %}
          <img src="{{ site.github.url }}/labs/assets/labs_{{ tech }}.png"/>
        {% endfor %}
        </div>
      {% endif %}
      <h3>
        <a href="{{ site.github.url }}{{ post.url }}">
            {{ post.title }}
        </a>
      </h3>
      <h5 class="sub">
      {% if showAuthorInfo %}
        by <a href="{{ site.github.url }}/{{ post.author }}">{{ author.name }}</a>,
      {% endif %}

      {% if suppressPostDate %}
      {% else %}
        on {{ post.date | date: "%d %b %Y" }}
      {% endif %}


      </h5>
    </header>
    {% if showPostSummary %}
    <p>
        {% if post.summary %}
        {{ post.summary }}
        {% else %}
        {{ post.content | truncatewords:50 | strip_html }}
        {% endif %}
    </p>
    {% endif %}

    {% capture url %}{{ site.canonical.url }}{{ post.url }}{% endcapture %}
    {% if post.oldlink %}
      {% capture url %}{{ post.oldlink }}{% endcapture %}
    {% endif %}
    {% if post.originalArticleLink %}
      {% assign url = post.originalArticleLink %}
    {% endif %}
    {% assign disqusID = post.url %}
    {% if post.disqus-id %}
      {% assign disqusID = post.disqus-id %}
    {% endif %}
    {% assign title = post.title %}

    {% if suppressSocialLinks %}
    {% else %}
    {% include social.html invered=false %}
    {% endif %}
  </div>
</article>
