{% assign showAuthorInfo = include.showAuthorInfo %}
{% assign post = include.post %}
{% assign author = site.data.authors.authors[post.author] %}

<h5 class="post-metadata">
  {% if showAuthorInfo %}
    <span class="author-name">
      <a href="{{ site.github.url }}/{{ post.author }}">{{ author.name }}</a>
      <span>&middot;</span>
    </span>
  {% endif %}
  <span class="timestamp" date-published="{{ post.date }}">
     {% include format_date.html date=post.date %}
  </span>
  &middot;
  <span>{% include reading_time.html post=post %}</span>
</h5>
