{% assign showPostSummary = include.showPostSummary %}
{% assign suppressSocialLinks = include.suppressSocialLinks %}
{% assign showAuthorInfo = include.showAuthorInfo %}
{% assign postDetailLimit = include.postDetailLimit %}
{% assign posts = include.posts %}

{% for post in posts %}
    {% if  forloop.index > postDetailLimit  %}
        {% assign showPostSummary = false %}
    {% endif %}
    {% include post_summary.html showPostSummary=showPostSummary includeSocialLinks=includeSocialLinks showAuthorInfo=showAuthorInfo post=post %}
{% endfor %}
