<div class="mod sidebar nugget menu">
  <b class="top">
    <b class="tl"></b>
    <b class="tr"></b>
  </b>

  <div class="inner">
    <div class="hd">
      <h3>Stackoverflow</h3>
    </div>
    <div class="bd">
      <div class="textwidget">
		<a href="http://stackoverflow.com/users/249933/coline">
			<img src="http://stackoverflow.com/users/flair/249933.png" width="208" height="58" alt="profile for ColinE at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for ColinE at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
		</a>
      </div>
    </div>
  </div>
  <b class="bottom">
    <b class="bl"></b>
    <b class="br"></b>
  </b>
</div>