{% assign inverted = include.inverted %}
{% assign postOrPage = include.postOrPage %}

{% capture url %}{{ site.canonical.url }}{{ postOrPage.url }}{% endcapture %}
{% assign disqusID = postOrPage.url %}
{% if postOrPage.disqus-id %}
  {% assign disqusID = postOrPage.disqus-id %}
{% endif %}

<aside class="secondary social">
  <div
     class="tweet{% if inverted %} inverted{% endif %}"
     data-url="{{ url }}"
     style="opacity: 0">
    <span class="count"></span>
  </div>
  <div
     class="dq-comment-count{% if inverted %} inverted{% endif %}"
     data-disqus-identifier="{{ disqusID }}"
     style="opacity: 0">
    <span class="count"></span>
  </div>
</aside>
