//generic
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"], textarea {
	background-color: #fff;
	font-family: inherit;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: rgba(0,0,0,0.75);
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	padding: 6px;
	height: 30px;
	width: 100%;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	box-sizing: border-box;
}

label {
	font-weight: bold;
	color: $black;
	line-height: 24px;
	font-size: 12px;
	cursor: pointer;
	display: block;
	margin-bottom: 3px;
}

textarea {
	height: 160px;
	max-width: none;
}

.page-template-contact {
	.gform_wrapper {
		input[type="submit"] {
			float: left;
			clear: both;
			@extend .btn;
			margin-top: 20px !important;
			min-width: 135px;
			&:hover {
				background-color: #00667d;
			}
		}
	}
}


//header search form
#masthead .search-form {
	font-family: $futuraPT;
    float: right;
    margin-top: 7px;
    input {
        width: 143px;
        padding: 0 3px;
        height: 24px;
    }
	input[type="text"] {
    // EDITED!!!!
		display: inline-block;
		margin: 0;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.74902);
	}
	input[type="submit"] {
		cursor: pointer;
		text-indent: -99999px;
		background-color: transparent;
		background-image: url('assets/search-icon.svg');
		width: 28px;
		height: 28px;
		opacity: .8;
		filter: alpha(opacity=80);
		border: none;
	}
}

//gravity forms
.gform_heading {
	display: none;
}

.gfield_label {
	margin-top: 15px;
}

//makes all fields 50% width
.gfield {
	float: left;
	width: 48.75%;
	margin-right: 2.5%;
	&:nth-child(2n) {
		margin-right: 0;
	}
}

//resets text area + hr
#field_1_6,
#field_1_5 {
	width: 100%;
}

//validation
.validation_error,
.validation_message {
	color: red;
	font-size: 13px;
}

//hides captcha label
#field_1_7 {
	label {
		display: none;
	}
}
