a {
    @include transition(all ease-in-out 0.1s);
}

body {
    font-weight: 400;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

// wrappers
.wrapper {
    max-width: $mainWidth+px;
    margin: 0 auto;
}
.inner-wrap,
.page-wrap {
    max-width: $innerWrap+px;
    margin: 0 auto;
}

.page-wrap {
    padding: 0 30px 30px;
    @extend %clearfix;
}

//banner
.banner {
    max-width: $mainWidth+px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.banner-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    .campaign-inner {
        max-width: 540px;
        margin-top: 40px;
        margin-left: 130px;
        width: 100%;
        font-family: $futuraPT;
        p {
            font-family: $futuraPT;
            margin-bottom: -10px;
            font-size: 18px;
            text-transform: uppercase;
            color: $black;
        }
        h1 {
            font-family: $futuraPT;
            color: #222;
            font-size: 42.5999984741211px;
            line-height: 60px;
            margin: 0;
            padding: 0;
        }
    }
}

.banner-content {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    background: rgba(43,179,187,0.5);
    .inner {
        width: 342px;
        background: #2bb3bb;
        margin-left: 90px;
        padding: 22px 44px;
        p {
            color: $white;
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.pagination {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    float: left;
    width: 100%;
    clear: both;
    a {
        @extend .btn;
    }
    .nav-next {
        a {
            &:after {
                content: '';
            }
            &:before {
                content: '<';
                padding-right: 2em;
                font-family: 'MS Mincho', sans-serif;
            }
        }
    }
    .alignright {
        margin-bottom: 0;
    }
}

//wordpress
.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

//buttons
.btn {
    box-sizing: border-box;
    min-width: 135px;
    background: #2bb3bb;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding: 10px 20px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    font-weight: normal;
    box-shadow: none;
    border: none;
    padding: 11px 20px 10px;
    text-decoration: none;
    color: $white;
    &:hover {
        background-color: #00667d;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    &::after {
        content: '>';
        padding-left: 2em;
        font-weight: bold;
        font-family: 'MS Mincho', sans-serif;
    }
    &.black {
        background: #231f20;
        &:hover {
            background-color: #005164;
        }
    }
}

//cols
.left-col {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
    h3 {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 12px;
        font-weight: 500;
    }
    p {
        margin-left: 50px;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
    &.wysiwyg {
        .main-blockquote {
            margin-bottom: 30px;
            h4, h4 span {
                font-size: 16px;
                font-family: $helvetica;
            }
        }
    }
}

aside {
    width: 33.33333%;
    float: right;
    padding: 0 15px;
    box-sizing: border-box;
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}

.wysiwyg {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    h3 {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 12px;
        font-weight: 500;
    }
    p, ul {
        margin-left: 50px;
    }
    ul {
        margin-bottom: 17px;
        li {
            background-image: url('/media/bullet.png');
            background-image: none,url('_img/bullet.svg'),url('_img/bullet.svg');
            background-position: 0 top;
            background-repeat: no-repeat;
            padding: 0 0 6px 24px;
            font-size: 12px;
            color: #666;
            line-height: 1.6;
        }
    }
}

//read more
.read-more {
    text-decoration: none;
    position: relative;
    color: #666;
    font-size: 12px;
    border-top: 1px solid #ddd;
    padding: 15px 0;
    display: block;
    line-height: 23px;
    min-height: 23px;
    float: left;
    width: 100%;
    clear: both;
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: solid 6px;
        border-color: transparent #9d9d9d transparent transparent;
        position: absolute;
        right: 11px;
        top: 21px;
        border-color: transparent transparent transparent rgba(43,179,187,1);
    }
    &.active:after {
        @include transition(all ease-in-out 0.1s);
        border-color: rgba(43,179,187,1) transparent transparent transparent;
    }
}

.read-more-content {
    display: none;
}

.intro-para {
    padding: 0 15px;
}

.error404 {
    p {
        padding: 0 15px;
    }
}

//flexible content
.flexible-sidebar {
    @extend %clearfix;
    padding-bottom: 20px;
}

.flexible-content {
    float: left;
    width: 100%;
    clear: both;
    margin: 0 0 20px;
    &.slider {
        border-bottom: 1px solid #ddd;
        padding-bottom: 30px;
    }
    &.wysiwyg p {
        margin-left: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

//flexible main content
.callout.right {
     width: 40%;
     float: right;
     min-width: 210px;
     border: 1px solid #ddd;
     margin: 12px;
     margin-top: 20px;
     padding: 12px;
     box-sizing: border-box;
     h3 {
        padding-top: 0;
        margin-top: 6px;
     }
     ul {
        margin: 0;
     }
}

.header-image {
    max-width: 1110px;
    margin: 0 auto;
    &.page-wrap {
        padding: 0 15px;
    }
}
