.header-top-bar {
    background: #231f20;
}

.header-logo {
    width: 100%;
    max-width: 437px;
    height: 24px;
    background-image: url("assets/logo_secondary.svg");
    background-image: url("assets/logo_secondary.png");
    margin: 13px 0 7px;
    overflow: hidden;
    display: inline-block;
    text-indent: -100%;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    @media only screen and (max-width: 767px) {
        background-image: url("assets/logo_primary.svg");
        background-position: center;
        max-width: 100%;
        height: 60px;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
}

.header-inner {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 15px;
}

.mtoggle {
    background: url('assets/mtoggle2x.jpg') no-repeat top left;
    background-size: 100%;
    width: 18px;
    height: 17px;
    position: absolute;
    top: 22px;
    right: 16px;
    cursor: pointer;
    display: none;
    z-index: 99999;
    @media only screen and (max-width: 767px) {
        display: inline-block;
    }
}

//main nav
.mastnav {
    font-family: $futuraPT;
    @media only screen and (max-width: 767px) {
        display: none;
    }
    @media only screen and (min-width: 768px) {
        display: block !important;
    }
    max-width: 1005px;
    @extend %clearfix;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    >ul {
        padding-right: 5px;
        float: right;
        margin-top: 27px;
        >li {
            letter-spacing: 1px;
            &:before {
              content: '/';
              color: #ddd;
              cursor: default;
              display: inline-block;
              font-size: 12px;
              position: relative;
              top: -2px;
            }
            &.first::before {
                display: none;
            }
            position: relative;
            float: left;
            font-size: 18.6666660308838px;
            text-transform: uppercase;
            padding-bottom: 15px;
            a {
                font-family: $futuraPT;
                padding-bottom: 13px;
                margin: 0 16.5px;
                color: $black;
                text-decoration: none;
                cursor: default;
                font-size: 18.6666660308838px;
            }
            &:hover .sub-menu {
                display: block;
            }
            a[href*="/"] {
                cursor: pointer;
            }
        }
    }
    .sub-menu {
        z-index: 999999;
        display: none;
        background: #222;
        background: rgba(35,31,32,0.8);
        position: absolute;
        top: 100%;
        padding: 16px 0 15px;
        left: 0;
        margin-top: 0;
        &:before {
            content: '';
            height: 7px;
            width: 14px;
            position: absolute;
            left: 20px;
            top: -7px;
            background-image: url('assets/nav-arrow.jpg');
            opacity: .8;
            background-repeat: no-repeat;
        }
        li {
            padding-bottom: 5px;
            float: none;
            margin: 0;
        }
        a {
            color: $white;
            padding: 5px 19px 5px 15px;
            font-size: 12px;
            white-space: nowrap;
            display: block;
            text-transform: capitalize;
            margin: 0;
            letter-spacing: -0.1px;
            font-family: $helvetica;
            font-weight: bold;
            &:hover {
                background: #231f20;
            }
        }
    }
}

//current menu item underline
.current-menu-parent > a {
    border-bottom: 1px solid #000;
}

//mobile nav foundaton
#masthead .mobile-nav-wrapper {
    .current-menu-parent>a {
        border-bottom: none;
    }
    @media only screen and (min-width: 768px) {
        &.active {
            display: none !important;
        }
    }
    display: none;
    background: #231F20;
    .search-form {
        display: none;
        float: none;
        margin-top: 0;
        padding: 15px 37px 10px;
        label {
            margin-bottom: 0;
        }
        input[type="text"] {
            display: block;
            width: 83%;
            float: left;
            max-width: 441px;
        }
        &.clicked {
            display: none;
        }
    }
    &.active {
        display: block;
    }
}
.top-bar {
    padding: 0 15px;
    line-height: normal;
}
.top-bar-section ul li>a {
    font-family: $futuraPT;
    line-height: 28px;
    color: $white;
    text-decoration: none;
    font-size: 18.6666660308838px;
    text-transform: uppercase;
    padding: 0;
    transition: none;
}
.top-bar-section .dropdown li.title h5 a {
    color: red;
}
.title.back.js-generated:first-child {
    display: none;
}
.top-bar-section .has-dropdown>a:after {
    display: none;
}
.top-bar-section ul li {
    height: auto;
    padding-left: 20px;
}
.top-bar-section .dropdown li {
    padding-left: 0;
}
.top-bar-section .has-dropdown {
    &:last-child {
        margin-bottom: 10px;
    }
}
.top-bar-section .dropdown li a {
    font-size: 12px;
    text-transform: initial;
    line-height: 14px;
    font-family: $helvetica;
}
.top-bar ul>li.has-dropdown.moved>.dropdown li:not(.title) a {
  padding: 8px 22.5px;
  font-size: 12px;
}
.parent-link.js-generated {
    display: none;
}
.title.back.js-generated:nth-child(2) {
    padding-left: 35px;
    position: relative;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 5px;
    cursor: pointer;
    &:after {
        position: absolute;
        top: 50%;
        left: 17.5px;
        margin-top: -5px;
        width: 0;
        height: 0;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: solid 5px;
        border-color: transparent #fff transparent transparent;
    }
}
.top-bar-section .dropdown {
    li {
        a {
            font-weight: bold;
        }
        &.hover {
            background: #3c3c3c;
        }
    }
    li.title {
        a {
            font-weight: normal;
        }
        &.hover {
            background: transparent;
        }
    }
}
#menu-main-navigation-1 {
    .current-menu-parent {
        background: #161414;
    }
}

.dropdown.flyout {
    margin-top: 20px;
    margin-bottom: 10px;
    li.title {
        font-family: $futuraPT;
        font-size: 18.6666660308838px;
    }
}
