---
layout: default
title: Mobile
---

{% include hero.html %}

{% assign posts = site.categories["Mobile"] %}
{% for iosposts in site.categories["iOS"] %}
  {% assign posts = posts | push: iosposts %}
{% endfor %}
{% for swiftposts in site.categories["Swift"] %}
  {% assign posts = posts | push: swiftposts %}
{% endfor %}
{% assign posts = posts | sort: 'date' | reverse | uniq %}

{% include featured.html postsToFilter=posts %}

{% include blog_index.html posts=posts paginate=false categoryName="Mobile" %}
