---
layout: default
---

{% assign author = site.data.authors.authors[page.author] %}
<section class="container">
  <div class="row">
    <h1 class="col-xxs-12 align-center">{{ site.data.authors.authors[page.author].name }}</h1>
  </div>
  <div class="row">
    <div class="col-xxs-12 align-center">
      {% include author.html author=author suppressSummary=true suppressName=true %}
    </div>
    {% capture author_summary %}{{ site.data.authors.authors[page.author].author-summary }}{% endcapture %}
    <div class="col-xxs-12">
      <p>{{ author_summary }}</p>
    </div>
  </div>
</section>
{% comment %} If there's an author summary then we can display the carousel with author's articles underneath. {% endcomment%}
{% assign featuredPosts = site.tags["author-featured"] | where:"author",page.author %}
{% assign numPosts = featuredPosts | size %}
{% if numPosts > 0 %}
<section>
  <div class="container">
    <div class="row hidden-xs">
      <div class="col-xxs-12">
        {% include featured_carousel.html maxPosts=10 featuredPosts=featuredPosts %}
      </div>
    </div>
  </div>
  <div class="container full-screen">
    <div class="row visible-xxs visible-xs">
      <div class="col-xxs-12">
        {% include featured_carousel_mobile.html featuredPosts=featuredPosts %}
      </div>
    </div>
  </div>
</section>
{% endif %}
<section class="container">
  <div class="row">
    <h2 class="col-xxs-12">Articles</h2>
    <div class="col-xxs-12">
      {% assign posts = site.categories[page.author] %}
      {% include post_list.html showPostSummary=true showAuthorInfo=false posts=posts postDetailLimit=20 %}
    </div>
  </div>
</section>