---
layout: default
---
<article class="row">
  <header class="offset2 span8">
    <h1>
      {{ page.title }}
    </h1>
    <h5 class="sub">by <a href="{{ site.baseurl }}/{{ page.author }}">{{ site.authors[page.author].name }}</a>, on {{ page.date | date: "%d %b %Y" }}</h5>

    {% assign url = page.url %}{% if page.oldlink %}{% assign url = page.oldlink %}{% endif %}
    {% assign title = page.title %}
    {% include social.html %}

  </header>
  <div class="offset2 span8">
    {{ content }}
  </div>
</article>

<a name="comments"></a>
<div id="disqus_thread" class="offset2 span8"></div>
<script type="text/javascript">
    {% if page.oldlink %}
        var disqus_identifier = '{{ page.oldlink }}';
    {% else %}
        var disqus_identifier = '{{ page.url }}';
    {% endif %}

    var disqus_url = '{{ site.baseurl }}{{ page.url }}';
</script>
<script src="{{ site.baseurl }}/scripts/disqus-comment-thread.js"></script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
