<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}Scott Logic{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ site.canonical.url }}{{ page.url | replace:'index.html',''}}">
    {% if site.github.owner_name != 'ScottLogic' %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <!--[if lt IE 9]>
    <script src="{{ site.github.url }}/scripts/html5shiv.js"></script>
    <![endif]-->
    
    {% comment %} Only load the Typekit fonts when on the main repo; they will fail to load on the forks {% endcomment %}
    {% if site.github.owner_name == 'ScottLogic' %}
    <script type="text/javascript" src="//use.typekit.net/fbo8hfs.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter_handle }}">
    {% if page.author-twitter-handle %}<meta name="twitter:creator" content="@{{ page.author-twitter-handle }}">{% endif %}
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.summary }}">
    {% if page.image %}<meta name="twitter:image:src" content="{{ site.canonical.url }}/{{ page.image }}">{% endif %}

    <link rel="stylesheet" href="{{ site.github.url | remove_first: 'http:' }}/style.css" type="text/css">

    <link rel="icon" type="image/png" href="{{ site.scottlogic.url }}/media/favicon.png" />
    <!--[if IE]><link rel="shortcut icon" href="{{ site.scottlogic.url }}/media/favicon.ico" /><![endif]-->

    {% comment %} Only load analytics when on the main repo; it will fail to load on the forks {% endcomment %}
    {% if site.github.owner_name == 'ScottLogic' %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-262131-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    {% endif %}
</head>
<body>

<header id="header" class="container wide">
  <div class="bar">
    <a href="{{ site.scottlogic.url }}/" class="logo">Scott Logic</a>
    <form id="cse-search-box" action="{{ site.scottlogic.url }}/search/" class="pull-right hidden-phone">
      <input type="text" name="q" placeholder="SEARCH" class="searchbox" />
      <img src="{{ site.scottlogic.url }}/media/searchicon.svg" alt="Search" class="searchbtn" />
    </form>
  </div>
  <nav class="container hidden-phone">
    <ul>
      <li class="dropdown">
        <a href="{{ site.scottlogic.url }}/services/">Services</a>
        <ul class="dropdown-menu" role="menu">
          <div class="nav-arrow-up"></div>
          <li><a href="{{ site.scottlogic.url }}/services/">Services Home</a></li>
          <li><a href="{{ site.scottlogic.url }}/services/managed-delivery/">Managed Delivery</a></li>
          <li><a href="{{ site.scottlogic.url }}/services/technical-strategy/">Technical Strategy</a></li>
          <li><a href="{{ site.scottlogic.url }}/services/user-experience/">User Experience Design</a></li>
          <li><a href="{{ site.scottlogic.url }}/services/software-development-services/">Software Development Services</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <span class="divider">/</span>
        <a href="#" class="nonlink">Sectors</a>
        <ul class="dropdown-menu" role="menu">
          <div class="nav-arrow-up"></div>
          <li><a href="{{ site.scottlogic.url }}/sectors/capital-markets/">Capital Markets</a></li>
          <li><a href="{{ site.scottlogic.url }}/sectors/energy-trading/">Energy Trading</a></li>
          <li><a href="{{ site.scottlogic.url }}/sectors/e-trade/">E Trading</a></li>
          <li><a href="{{ site.scottlogic.url }}/sectors/financial-services/">Financial Services</a></li>
          <li><a href="{{ site.scottlogic.url }}/sectors/healthcare/">Healthcare</a></li>
          <li><a href="{{ site.scottlogic.url }}/sectors/oil-and-gas/">Oil and Gas</a></li>
          <li><a href="{{ site.scottlogic.url }}/sectors/public-sector/">Public Sector</a></li>
        </ul>
      </li>
      <li>
        <span class="divider">/</span>
        <a href="{{ site.github.url }}" class="selected">Blog</a>
      </li>
      <li class="dropdown">
        <span class="divider">/</span>
        <a href="{{ site.scottlogic.url }}/careers/">Careers</a>
        <ul class="dropdown-menu" role="menu">
          <div class="nav-arrow-up"></div>
          <li><a href="{{ site.scottlogic.url }}/careers/">Careers Home</a></li>
          <li><a href="{{ site.scottlogic.url }}/careers/vacancies/">Vacancies</a></li>
          <li><a href="{{ site.scottlogic.url }}/careers/careersprogrammes/experienced-professionals/">Experienced Professionals</a></li>
          <li><a href="{{ site.scottlogic.url }}/careers/careersprogrammes/graduates/">Graduate Programme</a></li>
          <li><a href="{{ site.scottlogic.url }}/careers/careersprogrammes/interns/">Intern Programme</a></li>
        </ul>
      </li>
      <li>
        <span class="divider">/</span>
        <a href="{{ site.scottlogic.url }}/contact/">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<div class="container">
    {{ content }}
</div>

{% unless page.paginated %}
<footer id="footer" class="container wide">
    <p>Copyright &copy; 2014 Scott Logic Ltd. All Rights Reserved.</p>
</footer>
{% endunless %}

<script src="{{ site.github.url | remove_first: 'http:' }}/script.js" type="text/javascript"></script>
<script type="text/javascript">jQuery.noConflict();</script>

{% if page.paginated %}
<script type="text/javascript">
jQuery('.content').jscroll({
  contentSelector: ".content",
  nextSelector: '.next',
  loadingHtml: '<div id="loadingSpinner"><div class="f_circleG" id="frotateG_01"></div><div class="f_circleG" id="frotateG_02"></div><div class="f_circleG" id="frotateG_03"></div><div class="f_circleG" id="frotateG_04"></div><div class="f_circleG" id="frotateG_05"></div><div class="f_circleG" id="frotateG_06"></div><div class="f_circleG" id="frotateG_07"></div><div class="f_circleG" id="frotateG_08"></div></div>',
  callback: function() {
    loadCommentCount();
    loadTweetCount();
  }
});
</script>
{% endif %}

</body>
</html>
