---
layout: default
---
<section class="row blog-post-container">
  <h1 class="offset2 span8">{{ site.data.authors.authors[page.author].name }}</h1>
  {% if content %}
  <section class="container">
  {{ content }}
  </section>
  {% endif %}
</section>

<div class="row blog-post-container">
  <section class="offset2 span8">
    <h2>Articles</h2>
    {% assign showPostSummary = true %}
    {% assign includeSocialLinks = true %}
    {% assign showAuthorInfo = false %}
    {% for post in site.categories[page.author] %}
      {% if  forloop.index > 20 %}
         {% assign showPostSummary = false %}
      {% endif %}
      {% include post_summary.html %}
    {% endfor %}
  </section>
</div>
