---
layout: default
---
<article class="row">
    <header class="offset2 span8">
        <h1>
          {{ page.title }}
        </h1>
        <h5 class="sub">by <a href="{{ site.baseurl }}/{{ page.author }}">{{ site.authors[page.author].name }}</a>, on {{ page.date | date: "%d %b %Y" }}</h5>
        <div class="dq-comment-count" data-disqus-identifier="{% if page.oldlink %}{{ page.oldlink }}{% else %}{{ page.url }}{% endif %}"></div>
    </header>
    <div class="offset2 span8">
	<p>
	<a class="twitter-share-button" href="https://twitter.com/share" data-url="http://www.scottlogic.co.uk{% if page.oldlink %}{{ page.oldlink }}{% else %}{{ page.url }}{% endif %}" data-via="scottlogic">Tweet</a>
	<br />
	<script type="text/javascript">// <![CDATA[
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		// ]]&gt;
	</script>
	</p>
        {{ content }}
    </div>
</article>

<div id="disqus_thread" class="offset2 span8"></div>
<script type="text/javascript">
    {% if page.oldlink %}
        var disqus_identifier = '{{ page.oldlink }}';
    {% else %}
        var disqus_identifier = '{{ page.url }}';
    {% endif %}

    var disqus_url = '{{ site.baseurl }}{{ page.url }}';
</script>
<script src="{{ site.baseurl }}/scripts/disqus-comment-thread.js"></script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>