---
layout: default
---
{% assign author = site.data.authors.authors[page.author] %}
<article class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <header>
        <h1>{{ page.title }}</h1>
        <div class="secondary published">
          <span class="hidden-md-up">
            By <a class="authorName highlight" rel="author" href="{{ site.github.url }}/{{ page.author }}">{{ author.name }}</a>, on the
          </span>
          {% include format_date.html date=page.date %}
        </div>
        {% include social.html postOrPage=page %}
      </header>
    </div>
  </div>
  <div class="row video">
    <div class="col-xs-12">
      <div class="embed-container">
        <iframe src='{{ page.video_url }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <aside class="col-md-2 hidden-sm-down">
      <div class="hidden-md-down">
        {% include categories_menu.html %}
      </div>
    </aside>
    <div class="col-xs-12 col-md-8">
      {{ content }}
    </div>
    <aside class="col-md-2 hidden-sm-down">
      <div class="hidden-md-down">
        {% include author.html author=author %}
      </div>
    </aside>
  </div>
</article>

{% include author_post_list.html author=author skipPostWithId=page.id maxPosts=2 %}
{% include disqus.html %}
