<div class="span8">
  <div class="row">
    <div class="span4"><img src="{{ site.github.url }}/images/ads/swift_by_tutorials.png"/></div>
    <div class="span4">
      <h3>Swift By Tutorials</h3>
      An in depth guide to iOS development with Swift by Colin Eberhardt
      and Matt Galloway. Suitable for Objective-C developers, or those that are entirely new to the platform.<br/>
      <a href="http://www.raywenderlich.com/store/swift-by-tutorials?source=ceberhardt">Order a copy now!</a>
    </div>
  </div>
</div>
